<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Заглавная</title>
  <link rel="stylesheet" href="static/style.css">
</head>
<body>
  <div class="container">
    <div class="form-container">
      <!-- Форма для Входа -->
      <div class="form-group">
        <h2>Вход</h2>
        <form id="loginForm">
          <label for="loginUsername">Эл. почта или телефон:</label>
          <input type="text" id="loginUsername" required>
          <label for="loginPassword">Пароль:</label>
          <input type="password" id="loginPassword" required>
          <button type="submit">Войти</button>
        </form>
      </div>
      <!-- Форма для Регистрации -->
      <div class="form-group">
        <h2>Регистрация</h2>
        <form id="registerForm">
          <label for="username">Имя:</label>
          <input type="text" id="username" required>
          <label for="email">Эл. почта:</label>
          <input type="email" id="email" required>
          <label for="password">Пароль:</label>
          <input type="password" id="password" required>
          <button type="submit">Зарегистрироваться</button>
        </form>
      </div>
    </div>
  </div>
  <script src="static/js.js"></script>
</body>
</html>
